
// == Colors
$brand-primary: #167EFB;

// == Fonts
$font-primary: 'Open Sans', helvetica, sans-serif;
$font-primary-color: #9D9E9F;

// == Header
$header-border-width: 3px;
$header-border-color: $brand-primary;
$header-background-color: #26282A;

// == Left Navigation
$aside-background-color: #F5F6F7;
$aside-width: 15%;
