@import "variables";

html, body {
  font-family: $font-primary;
  height: 100%;
  background-color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.5em;

  small {
    font-weight: 400;
    font-size: 65%;
  }
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 10px;
}
h6 {
  font-size: 8px;
}

a {
  color: $font-primary-color;
  font-family: $font-primary;
  text-decoration: none;
}

a:hover {
  color: $brand-primary;
}

// Header

header {
  border-bottom: solid $header-border-width $header-border-color;
  background-color: $header-background-color;
  color: $font-primary-color;
  height: $header-height;
  position: relative;

  ul {
    padding: 0px;
    margin: 0;
    display: inline;
  }

  h1, h3 {
    line-height: 50px;
  }

  .left {
    margin-left: 50px;
    text-transform: uppercase;
  }

  .right {
    float: right;
    margin-right: 50px;
  }

}

// Navigation

aside {
  background-color: $aside-background-color;
  width: $aside-width;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  .brand {
    height: $header-height;
    line-height: $header-height;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    a {
      color: $aside-link-color;
    }
  }

  nav {
    margin-top: 20px;
    text-transform: uppercase;

    ul li {
      list-style: none;
    }

    ul li a {
      line-height: 5em;
      font-size: 70%;
      color: $aside-link-color;
    }
  }
}


// Main Content

#content {
  margin-left: $content-width;
  min-width: 276px;
  display: block;
}

footer {

}

// Login page

.wrapper {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 400px;
}

.login-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.input {
  width: 100%;
  border: 0;
  border-radius: 0;
  color: #000;
  padding: 10px;
  margin: 5px 0;
  border-bottom: 1px solid #e2e2e4;
}

.button {
  width: 100px;
  margin: 5px 0;
  border: 0;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #2789e4;
}
